@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: rgb(220, 233, 233);
  margin: 0;
}
img {
  max-width: 100%;
}
.mobile-container {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 5px #3333331a;
  border-radius: 3px;
  overflow: hidden;
}
form {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  background-color: #eee;
  outline: none;
  font-family: inherit;
}
form button {
  background-color: transparent;
  color: #aaa;
  font-size: 1.5rem;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.fav-container {
  padding: 0.25rem 1rem;
  text-align: center;
  background-color: rgb(229, 245, 243);
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.fav-meals li {
  width: 75px;
  margin: 5px;
}
.fav-meals li img {
  border-radius: 50%;
  border: 2px solid #ffffff;
  height: 70px;
  box-shadow: 0 10px 5px #3333331a;
  width: 70px;
}
.fav-meals li span {
  font-size: 0.9rem;
}

.fav-meals li {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 75px;
}

.fav-meals li .clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.meal {
  box-shadow: 0px 10px 2px #3333331a;
  border-radius: 3px;
  margin: 1.5rem;
  overflow: hidden;
}
.meal-header {
  position: relative;
}
.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}
.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.meal-body h4 {
  margin: 0;
}
.meal-body .fv-btn {
  background: transparent;
  border: none;
  color: gray;
  font-size: 1.2rem;
  cursor: pointer;
}
.active {
  color: rebeccapurple;
}
.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0.5rem;
  position: relative;
  overflow: auto;
  max-height: 100vh;
  max-width: 600px;
  width: 100%;
}

.close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.meal-info h1 {
  text-align: center;
}

.card-img {
  cursor: pointer;
}

.video-box {
  object-fit: cover;
  height: 350px;
  width: 100%;
  padding: 0em 1em;
}

.ingredients-box li {
  list-style: none;
}

.instructions-box p {
  font-size: 1rem;
  text-align: start;
}

.img-box {
  padding: 0 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instructions-box {
  flex: 2;
  padding: 1em;
}
.ingredients-box {
  padding: 0 1em;
}
.img-box img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1em;
}
.meal-name {
  text-align: center;
  margin: 0.5em 0;
  margin-top: 1.5em;
  font-size: 1.6rem;
}
#msg {
  color: red;
  margin: 0;
  text-align: center;
}
